<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd" bootstrap="vendor/autoload.php" executionOrder="depends,defects" requireCoverageMetadata="true" beStrictAboutCoverageMetadata="true" beStrictAboutOutputDuringTests="true" failOnRisky="true" failOnWarning="true" colors="true">
  <php>
    <env name="env" value="testing"/>
  </php>
  <testsuites>
    <testsuite name="unit">
      <directory>tests/unit</directory>
    </testsuite>
    <testsuite name="end-to-end">
      <directory suffix=".phpt">tests/end-to-end</directory>
    </testsuite>
    <testsuite name="verification">
      <directory>tests/verification</directory>
    </testsuite>
  </testsuites>
  <source restrictNotices="true" restrictWarnings="true" ignoreIndirectDeprecations="true">
    <include>
      <directory>src</directory>
    </include>
  </source>
</phpunit>
